name: Image - M42PL - Core

on:
  push:
    branches: [main, master]

jobs:

  main:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to Github Packages
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build image and push to registries
        # For GitHub Packages, do not forget to allow the source repository
        # to push (role: write) at github.com/users/{user}/packages/container/{name}/settings
        uses: docker/build-push-action@v2
        with:
          context: .
          file: images/m42pl-core/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/m42pl-core:latest
            ghcr.io/${{ github.actor }}/m42pl-core:latest
